    body {
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        line-height: 1;
        color: black;
        background-image: url(https://images.pexels.com/photos/4195410/pexels-photo-4195410.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
        text-align: center;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 75%;
    }
    
    header {
        background-image: url("https://images.pexels.com/photos/317355/pexels-photo-317355.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
        background-size: cover;
    }
    
    textarea {
        background: transparent;
        border: none;
        resize: none;
        color: #000000;
        border-left: 1px solid black;
        padding: 10px;
        font-weight: bold;
    }
    
    .jumbotron {
        text-align: center;
        color: black;
        border-radius: 0;
        border-bottom: 10px solid black;
        font-weight: bold;
    }
    
    .description {
        white-space: pre-wrap;
    }
    
    .row {
        white-space: pre-wrap;
        height: 80px;
        border-top: 1px solid white;
        ;
    }
    
    .hour {
        /* background-color: #ffffff; */
        color: #000000;
        border-top: 1px dashed #000000;
        display: inline-block
    }
    
    .past {
        background-color: lightcoral;
    }
    
    .present {
        background-color: lightgreen;
    }
    
    .future {
        background-color: violet;
    }
    
    .saveBtn {
        border-left: 1px solid black;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        background-color: #06AED5;
        color: white;
    }
    
    .saveBtn i:hover {
        font-size: 20px;
        transition: all .3s ease-in-out;
    }